{% extends 'base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
{% endblock %}
{% block title %}Yeni Konu{% endblock %}
{% block content_nav %}
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0"></ul>
{% endblock %}

{% block content_body %}
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Yeni Konu Oluştur</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'create_post' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="topicTitle" class="form-label">Konu Başlığı</label>

                        <input type="text" class="form-control" id="topicTitle" name="topic_title" required>
                    </div>
                    <div class="mb-3">
                        <label for="topicContent" class="form-label">Konu İçeriği</label>
                        <textarea class="form-control" id="topicContent" name="topic_content" rows="7"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Gönder</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


