<!-- _UserNavbar.html -->
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'asset/css/NavbarStyle.css' %}">
{% endblock %}

<!-- Kullanıcı durumuna göre navbar -->
{% if user.is_authenticated %}
    <!-- Kullanıcı giriş yapmışsa -->
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown  m-2">
            <div class="avatar-container dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown">
                <img src="{{ user.profile.profile_pic.url }}" class="avatar" alt="Avatar">
                <strong class="username">{{ user.username }}</strong>
            </div>
            <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profil</a></li>
                <li><a class="dropdown-item" href="{% url 'my_topics' %}">Yaptıklarım</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}" id="logoutBtn">Çıkış yap</a></li> <!-- ID ekledik -->
            </ul>
        </li>
    </ul>
{% else %}
    {% if not is_login_page %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="btn btn-dark m-2" href="{% url 'login' %}?next={{ request.path }}">Üye Girişi</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark m-2" href="{% url 'register' %}">Kayıt Ol</a>
            </li>
        </ul>
    {% endif %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Çıkış yapılmışsa navbar'da değişiklik yapılmayacak
        if ({{ user.is_authenticated|lower }}) {
            // Profil fotoğrafını güncellemek için AJAX isteği gönder
            function updateProfileImage() {
                $.ajax({
                    url: "{% url 'get_profile_image_url' %}",
                    success: function (data) {
                        var profileImageUrl = data.profile_pic_url;
                        // Profil fotoğrafının URL'sini kullanarak avatarı güncelle
                        $('.avatar').attr('src', profileImageUrl);
                    }
                });
            }
            // Sayfa yüklendiğinde ve her 1 saniyede bir profil fotoğrafını güncelle
            var intervalId = setInterval(updateProfileImage, 1000); // intervalId ekledik

            localStorage.setItem('intervalId', intervalId);
        }

        // Çıkış butonuna tıklandığında
        $('#logoutBtn').click(function() {
            // setInterval'i durdur
            clearInterval(intervalId);
        });
    });
</script>
